/* Vendor Dependencies */
/* Authored Dependencies */
/* Font */
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot") format("embedded-opentype"), url("../font/fontello.woff") format("woff"), url("../font/fontello.ttf") format("truetype"), url("../font/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?27211685#fontello') format('svg');
  }
}
*/
/* line 22, ../sass/font/_fontello.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 53, ../sass/font/_fontello.scss */
.icon-search:before {
  content: '\e802';
}

/* line 54, ../sass/font/_fontello.scss */
.icon-cancel-circled:before {
  content: '\e801';
}

/* line 55, ../sass/font/_fontello.scss */
.icon-plus:before {
  content: '\e800';
}

/* line 56, ../sass/font/_fontello.scss */
.icon-cancel:before {
  content: '\e80A';
}

/* Base */
/* Color Declarations */
/* Color Functional Declarations */
/* line 17, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, .l-section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, .l-section, summary {
  display: block;
}

/* line 17, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, .l-section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, .l-section, summary {
  display: block;
}

/* Tag Declarations */
/* line 9, ../sass/base/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../sass/base/_base.scss */
html,
button,
input,
select,
textarea {
  font-size: 16px;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

/* line 25, ../sass/base/_base.scss */
h1 {
  font-size: 48px;
  font-size: 3rem;
  color: #396c9c;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 33, ../sass/base/_base.scss */
p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #878787;
}

/* line 39, ../sass/base/_base.scss */
a {
  text-decoration: none;
}

/* line 43, ../sass/base/_base.scss */
section, .l-section {
  margin-bottom: 40px;
}

/* Clearing Declarations */
/* line 50, ../sass/base/_base.scss */
.clearfix, section, .l-section {
  *zoom: 1;
}
/* line 38, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after, section:after, .l-section:after {
  content: "";
  display: table;
  clear: both;
}

/* Element Declarations */
/* line 56, ../sass/base/_base.scss */
.l-header {
  border-bottom: 1px solid #e3e3e3;
}

/* line 5, ../sass/base/_form.scss */
.form-default-layout label {
  margin-bottom: 16px;
}
/* line 11, ../sass/base/_form.scss */
.form-default-layout input,
.form-default-layout select,
.form-default-layout textarea {
  margin-bottom: 5px;
}
/* line 14, ../sass/base/_form.scss */
.form-default-layout input:not(.has-field-info-associated),
.form-default-layout select:not(.has-field-info-associated),
.form-default-layout textarea:not(.has-field-info-associated) {
  margin-bottom: 40px;
}
/* line 19, ../sass/base/_form.scss */
.form-default-layout .field-info-associated {
  margin-bottom: 40px;
}

/* line 25, ../sass/base/_form.scss */
.field-wrapper {
  margin-bottom: 40px;
}

/* line 29, ../sass/base/_form.scss */
label {
  font-weight: bold;
  color: #396c9c;
  display: block;
}

/* line 35, ../sass/base/_form.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 42, ../sass/base/_form.scss */
input:invalid,
button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 49, ../sass/base/_form.scss */
input:focus,
button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 1;
}

/* line 58, ../sass/base/_form.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/*button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  @include appearance(none);
  @include border-radius(0);
  @include background-clip(padding-box);
  @include background-image(linear-gradient(top, #55a2eb, #4889c6 1px, #3f79ae));
  border: 1px solid #427099;
  cursor: pointer;
  color: #fff;
  font: inherit;
  font-size: 20px;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 0 10px;
  font-weight: 700;
  text-shadow: black 0 1px 1px;
  vertical-align: top;
  width: 100%;
  height: 50px;
  *padding-top: 2px;
  *padding-bottom: 0;
}*/
/*button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  @include background-image(linear-gradient(top, #55a2eb*1.1, #4889c6*1.1 1px, #3f79ae*1.1));
}*/
/*button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  @include background-image(linear-gradient(top, #55a2eb*.9, #4889c6*.9 1px, #3f79ae*.9));
  @include box-shadow(inset rgba(#000, 0.25) 0 1px 2px 0);
  border-color: #427099;
}*/
/* line 104, ../sass/base/_form.scss */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}*/
/* line 128, ../sass/base/_form.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border: 1px solid #d3d3d3;
  color: #666;
  outline: 0;
  padding: 0 10px;
  text-align: left;
  font-size: 16px;
  font-size: 1rem;
  font-family: inherit;
  width: 100%;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
  height: 50px;
}

/*input, select, button, textarea, .recaptcha {
  margin-top: 1rem !important;
}*/
/* line 168, ../sass/base/_form.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

/* line 177, ../sass/base/_form.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

/* line 184, ../sass/base/_form.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaa;
}

/* line 189, ../sass/base/_form.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #aaa;
}

/* line 194, ../sass/base/_form.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #aaa;
}

/* line 200, ../sass/base/_form.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 205, ../sass/base/_form.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
  *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 213, ../sass/base/_form.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 220, ../sass/base/_form.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 227, ../sass/base/_form.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: white;
    font: inhert;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    height: 16px;
  }

  /* line 243, ../sass/base/_form.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border: 0;
  }
}
/* line 251, ../sass/base/_form.scss */
textarea {
  min-height: 50px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 258, ../sass/base/_form.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
}

/* line 265, ../sass/base/_form.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/** html button {
  padding-top: 1px;
  padding-bottom: 1px;
}*/
/* line 275, ../sass/base/_form.scss */
* html select {
  margin-top: 1px;
}

/* line 281, ../sass/base/_form.scss */
.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888;
}

/* line 4, ../sass/base/_button.scss */
.btn, .btn-icon {
  font-size: 27px;
  font-size: 1.6875rem;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-weight: bold;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  margin: 0;
  cursor: pointer;
}

/* line 16, ../sass/base/_button.scss */
.btn {
  min-width: 200px;
  padding: 0 20px;
}

/* line 23, ../sass/base/_button.scss */
div.btn {
  line-height: 50px;
  text-align: center;
}

/* line 28, ../sass/base/_button.scss */
.btn-icon {
  text-align: center;
  width: 50px;
}

/* line 35, ../sass/base/_button.scss */
.btn-primary {
  background: #396c9c;
  border-color: #396c9c;
  color: white;
}
/* line 41, ../sass/base/_button.scss */
.btn-primary[disabled="disabled"]:hover {
  background: #396c9c;
}
/* line 45, ../sass/base/_button.scss */
.btn-primary:hover {
  background: #4b86bd;
}

/* line 50, ../sass/base/_button.scss */
.btn-secondary {
  background: #f0f0f0;
  border-color: #e3e3e3;
  color: #5c5c5c;
}
/* line 54, ../sass/base/_button.scss */
.btn-secondary:hover {
  background: #5c5c5c;
  color: #f0f0f0;
}
/* line 57, ../sass/base/_button.scss */
.btn-secondary:hover .btn-subtext {
  color: white;
}

/* line 63, ../sass/base/_button.scss */
.btn-next {
  float: right;
}

/* line 67, ../sass/base/_button.scss */
.btn-add-attribute, .btn-remove-attribute {
  text-decoration: none;
  color: #878787;
  min-height: 20px;
  margin: 10px 10px 10px 0;
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  display: inline;
  float: left;
}
/* line 75, ../sass/base/_button.scss */
.big.btn-add-attribute, .big.btn-remove-attribute {
  margin-top: 20px;
  font-size: 22px;
  font-size: 1.375rem;
}
/* line 79, ../sass/base/_button.scss */
.small.btn-add-attribute, .small.btn-remove-attribute {
  font-size: 12px;
  font-size: 0.75rem;
}

/* line 86, ../sass/base/_button.scss */
.btn-add-attribute:hover {
  color: #396c9c;
}

/* line 92, ../sass/base/_button.scss */
.btn-remove-attribute:hover {
  color: #d13111;
}

/* line 96, ../sass/base/_button.scss */
.btn-remove-img {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: black;
  padding: 10px;
}

/* line 105, ../sass/base/_button.scss */
.btn-subtext {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: normal;
}
/* line 110, ../sass/base/_button.scss */
.btn-secondary .btn-subtext {
  color: #878787;
}

/* line 115, ../sass/base/_button.scss */
.btn-file-selector {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
}

/* line 120, ../sass/base/_button.scss */
.btn-file-hidden {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/* line 128, ../sass/base/_button.scss */
.btn-file-hidden:hover + .btn-primary {
  background: #4b86bd;
}

/* Layout */
/*
$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;
*/
/* TODO check which one are used */
/* line 22, ../sass/layout/_grid.scss */
.container-default, .container-header {
  *zoom: 1;
  max-width: 60em;
  _width: 60em;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container-default:after, .container-header:after {
  content: "";
  display: table;
  clear: both;
}

/* LAYOUT */
/* line 3, ../sass/layout/_layout.scss */
.l-vertical-center, .l-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
}

/* line 9, ../sass/layout/_layout.scss */
.l-section {
  *zoom: 1;
  padding-left: 40px;
}
/* line 38, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.l-section:after {
  content: "";
  display: table;
  clear: both;
}

/* line 15, ../sass/layout/_layout.scss */
.l-header {
  min-height: 180px;
  width: 100%;
}

/* line 24, ../sass/layout/_layout.scss */
.l-standard-border, .m-thumbnails-image {
  border: 1px solid #e3e3e3;
}

/* line 30, ../sass/layout/_layout.scss */
.l-list-border li {
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}
/* line 36, ../sass/layout/_layout.scss */
.l-list-border li:last-child {
  border-width: 1px 0 0 0;
}

/* line 2, ../sass/layout/_frame.scss */
#l-main-content {
  width: 74.46809%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  border-left: 1px solid #e3e3e3;
}

/* line 7, ../sass/layout/_frame.scss */
#l-secondary-content {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  margin-right: 0;
}

/* Modules */
/* line 1, ../sass/module/_custom-radio.scss */
.m-regular-radio {
  display: none;
}

/* line 5, ../sass/module/_custom-radio.scss */
.m-regular-radio + label {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  padding: 9px;
  position: relative;
  font-size: 1.75em;
  color: #5c5c5c;
  cursor: pointer;
  display: inline;
  float: left;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px inset;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 19, ../sass/module/_custom-radio.scss */
.m-regular-radio:checked + label {
  background-color: #5c5c5c;
  color: white;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* line 26, ../sass/module/_custom-radio.scss */
.m-regular-radio + label:active, .m-regular-radio:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

/* line 30, ../sass/module/_custom-radio.scss */
.m-big-radio + label {
  padding: 16px;
}

/* line 34, ../sass/module/_custom-radio.scss */
.m-big-radio:checked + label:after {
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/module/_notification.scss */
.m-loading, .m-error {
  position: fixed;
  min-height: 30px;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10000;
}

/* line 12, ../sass/module/_notification.scss */
.m-loading {
  color: white;
  background: #7da943;
}

/* line 18, ../sass/module/_notification.scss */
.m-error {
  color: white;
  background: #d13111;
}

/* line 1, ../sass/module/_custom-radio.scss */
.m-regular-radio {
  display: none;
}

/* line 5, ../sass/module/_custom-radio.scss */
.m-regular-radio + label {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  padding: 9px;
  position: relative;
  font-size: 1.75em;
  color: #5c5c5c;
  cursor: pointer;
  display: inline;
  float: left;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px inset;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 19, ../sass/module/_custom-radio.scss */
.m-regular-radio:checked + label {
  background-color: #5c5c5c;
  color: white;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* line 26, ../sass/module/_custom-radio.scss */
.m-regular-radio + label:active, .m-regular-radio:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

/* line 30, ../sass/module/_custom-radio.scss */
.m-big-radio + label {
  padding: 16px;
}

/* line 34, ../sass/module/_custom-radio.scss */
.m-big-radio:checked + label:after {
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/module/_notification.scss */
.m-loading, .m-error {
  position: fixed;
  min-height: 30px;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10000;
}

/* line 12, ../sass/module/_notification.scss */
.m-loading {
  color: white;
  background: #7da943;
}

/* line 18, ../sass/module/_notification.scss */
.m-error {
  color: white;
  background: #d13111;
}

/* line 1, ../sass/module/_epek.scss */
.m-epek-e {
  font-size: 1.35em;
}

/* line 1, ../sass/module/_header.scss */
.m-header-filler, .m-header {
  border-bottom: 1px solid #e3e3e3;
  background: #f0f0f0;
  height: 145px;
}

/* line 9, ../sass/module/_header.scss */
.m-header {
  width: 6.38298%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  width: 100%;
  padding-top: 25px;
}

/* line 16, ../sass/module/_header.scss */
.m-header-nav {
  float: right;
  margin-right: 0;
  #margin-left: -20px;
  display: inline;
  margin-bottom: 25px;
}
/* line 20, ../sass/module/_header.scss */
.m-header-nav li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 24, ../sass/module/_header.scss */
.m-header-nav li a {
  color: #878787;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
}
/* line 30, ../sass/module/_header.scss */
.m-header-nav li a.m-header-nav-hightlight {
  color: #899d82;
}
/* line 35, ../sass/module/_header.scss */
.m-header-nav li:not(:last-child):after {
  content: "|";
}

/* line 41, ../sass/module/_header.scss */
.m-header-logo {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  background: url(../images/epek-logo.png);
  background: url(../images/epek-logo.svg) no-repeat top left;
  background-size: contain;
  height: 58px;
  width: 130px;
  margin-top: 25px;
}

/* line 47, ../sass/module/_header.scss */
.m-header-search {
  width: 74.46809%;
  float: right;
  margin-right: 0;
  #margin-left: -20px;
  display: inline;
}
/* line 50, ../sass/module/_header.scss */
.m-header-search .search-field {
  width: 90%;
}

/* line 6, ../sass/module/_image.scss */
.m-thumbnails-image {
  float: left;
  margin: 0 10px 10px 0;
  width: 150px;
  height: 150px;
  position: relative;
}
/* line 18, ../sass/module/_image.scss */
.m-thumbnails-image img {
  max-width: 150px;
  max-height: 150px;
}
/* line 25, ../sass/module/_image.scss */
.m-thumbnails-image a.remove-trigger {
  height: 100%;
  width: 100%;
  display: block;
}
/* line 30, ../sass/module/_image.scss */
.m-thumbnails-image a.remove-trigger .remove-overlay {
  display: none;
}
/* line 34, ../sass/module/_image.scss */
.m-thumbnails-image a.remove-trigger:hover .remove-overlay {
  display: block;
}
/* line 39, ../sass/module/_image.scss */
.m-thumbnails-image .remove-overlay {
  line-height: 150px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}
/* line 49, ../sass/module/_image.scss */
.m-thumbnails-image .remove-overlay .btn-remove {
  height: 100%;
  width: 100%;
  color: #d13111;
  font-size: 50px;
  font-size: 3.125rem;
}

/* line 3, ../sass/module/_wizard.scss */
.m-wizard-nav li {
  position: relative;
  text-transform: capitalize;
}
/* line 7, ../sass/module/_wizard.scss */
.m-wizard-nav li.active {
  /* border-color: $color-active-background; */
}
/* line 15, ../sass/module/_wizard.scss */
.m-wizard-nav li.active a {
  background: #396c9c;
  color: white;
  line-height: 56px;
}
/* line 21, ../sass/module/_wizard.scss */
.m-wizard-nav li.active:after {
  content: "";
  top: 12px;
  right: -10px;
  position: absolute;
  display: block;
  border-bottom: 9px solid transparent;
  border-top: 9px solid transparent;
  border-left: 10px solid #396c9c;
}
/* line 27, ../sass/module/_wizard.scss */
.m-wizard-nav li a {
  display: block;
  padding-left: 10px;
  line-height: 45px;
  font-weight: bold;
  color: #5c5c5c;
}
/* line 33, ../sass/module/_wizard.scss */
.m-wizard-nav li a:hover {
  background: #396c9c;
  color: white;
}

/* line 41, ../sass/module/_wizard.scss */
.m-wizard-nav-number {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  height: 24px;
  width: 24px;
  background: #5c5c5c;
  color: white;
  margin-right: 10px;
  text-align: center;
  line-height: 24px;
}
/* line 52, ../sass/module/_wizard.scss */
.active .m-wizard-nav-number, a:hover .m-wizard-nav-number {
  background: white;
  color: #396c9c;
}

/* line 2, ../sass/module/_progress-bar.scss */
.m-progress-bar {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
}
/* line 8, ../sass/module/_progress-bar.scss */
.m-progress-bar .message {
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 4px;
  text-transform: capitalize;
  font-weight: bold;
}
/* line 20, ../sass/module/_progress-bar.scss */
.m-progress-bar .error-message {
  color: #d13111;
}

/* line 25, ../sass/module/_progress-bar.scss */
.m-progress-bar-indicator-container {
  border: 1px solid #396c9c;
  display: block;
  height: 20px;
  background: #f0f0f0;
}
/* line 33, ../sass/module/_progress-bar.scss */
.m-progress-bar-indicator-container .m-progress-bar-percent {
  font-size: 15px;
  font-size: 0.9375rem;
  position: absolute;
  width: 100%;
  line-height: 20px;
}
/* line 41, ../sass/module/_progress-bar.scss */
.m-progress-bar-indicator-container .m-progress-bar-indicator {
  height: 20px;
  display: block;
  width: 0;
  text-align: center;
  background: #396c9c;
}

/* line 1, ../sass/module/_breadcrumbs.scss */
.m-breadcrumbs {
  color: #878787;
}
/* line 5, ../sass/module/_breadcrumbs.scss */
.m-breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
}
/* line 10, ../sass/module/_breadcrumbs.scss */
.m-breadcrumbs li:not(:first-child):before {
  content: ">>";
  color: black;
}
/* line 15, ../sass/module/_breadcrumbs.scss */
.m-breadcrumbs li a {
  color: #3d74a7;
}
/* line 18, ../sass/module/_breadcrumbs.scss */
.m-breadcrumbs li a:hover {
  text-decoration: underline;
}

/* line 1, ../sass/module/_step-select.scss */
.m-step-select {
  width: 100%;
}

/* line 5, ../sass/module/_step-select.scss */
.m-step-select-items {
  width: 50%;
  float: left;
  background: white;
}
/* line 10, ../sass/module/_step-select.scss */
.m-step-select-items li {
  position: relative;
  border-right: 1px solid #e3e3e3;
}
/* line 14, ../sass/module/_step-select.scss */
.m-step-select-items li.activeCategory {
  border-color: #5c5c5c;
}
/* line 17, ../sass/module/_step-select.scss */
.m-step-select-items li.activeCategory a {
  background: #5c5c5c;
  color: white;
  font-weight: bold;
}
/* line 22, ../sass/module/_step-select.scss */
.m-step-select-items li.activeCategory a .m-step-select-connector {
  background-color: #5c5c5c;
  display: block;
  position: absolute;
  right: -1px;
  width: 10px;
}
/* line 30, ../sass/module/_step-select.scss */
.m-step-select-items li.activeCategory a:hover {
  color: white;
}
/* line 36, ../sass/module/_step-select.scss */
.m-step-select-items li a {
  display: block;
  color: #878787;
  line-height: 60px;
  padding-left: 50px;
}
/* line 42, ../sass/module/_step-select.scss */
.m-step-select-items li a:hover {
  color: #3d74a7;
}

/* line 51, ../sass/module/_step-select.scss */
.m-step-select-previous {
  width: 0px;
  -webkit-transition: width 0.8s;
  -moz-transition: width 0.8s;
  -o-transition: width 0.8s;
  transition: width 0.8s;
}
/* line 56, ../sass/module/_step-select.scss */
.m-step-select-previous.active {
  width: 50%;
}

/* line 63, ../sass/module/_step-select.scss */
.m-step-select-active .activeCategory:after {
  content: "";
  top: 25%;
  right: -16px;
  position: absolute;
  display: block;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-left: 16px solid #5c5c5c;
}

/* line 1, ../sass/module/_sell.scss */
.m-sell-wizard {
  margin-top: 50px;
}

/* line 6, ../sass/module/_sell.scss */
.m-sell .btn-drop {
  height: 200px;
  padding: 50px 0;
  border: 3px dashed #e3e3e3;
  background-color: #f0f0f0;
  border-radius: 20px;
  color: #878787;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  -ms-border-radius: 20;
  -o-border-radius: 20;
  border-radius: 20;
  width: 100%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}

/* line 18, ../sass/module/_sell.scss */
.m-sell-description-condition {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}

/* line 22, ../sass/module/_sell.scss */
.m-sell-description-location {
  width: 65.71429%;
  float: right;
  margin-right: 0;
  #margin-left: -20px;
  display: inline;
}

/* line 27, ../sass/module/_sell.scss */
.m-sell-fields {
  margin-top: 20px;
  width: 100%;
  display: inline;
  float: left;
}
/* line 31, ../sass/module/_sell.scss */
.m-sell-fields input {
  margin: 0 10px 10px 0;
  width: 100%;
  display: inline;
  float: left;
}
/* line 36, ../sass/module/_sell.scss */
.m-sell-fields .fields-wrap {
  width: 100%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 39, ../sass/module/_sell.scss */
.m-sell-fields .fields-wrap .media-items-list {
  position: relative;
  margin: 10px 0;
  *zoom: 1;
}
/* line 38, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.m-sell-fields .fields-wrap .media-items-list:after {
  content: "";
  display: table;
  clear: both;
}
/* line 43, ../sass/module/_sell.scss */
.m-sell-fields .fields-wrap .media-items-list .media-item {
  margin: 5px;
  display: inline;
  float: left;
}
/* line 48, ../sass/module/_sell.scss */
.m-sell-fields .fields-wrap h4 {
  padding: 10px 0;
}
/* line 52, ../sass/module/_sell.scss */
.m-sell-fields .media-item img {
  display: inline;
  float: left;
}
/* line 55, ../sass/module/_sell.scss */
.m-sell-fields .hint {
  *zoom: 1;
}
/* line 38, ../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.m-sell-fields .hint:after {
  content: "";
  display: table;
  clear: both;
}
/* line 58, ../sass/module/_sell.scss */
.m-sell-fields .title {
  padding: 5px 0;
  color: #396c9c;
}

/* line 3, ../sass/module/_sso.scss */
.m-single-sign-on .discovered .email-wrapper {
  margin-bottom: 40px;
}
/* line 7, ../sass/module/_sso.scss */
.m-single-sign-on a {
  color: #3d74a7;
}
@media only screen and (min-width: 768px) {
  /* line 32, ../sass/module/_sso.scss */
  .m-single-sign-on .register-page-container {
    padding-bottom: 3em;
  }
}
/* line 38, ../sass/module/_sso.scss */
.m-single-sign-on .stripe {
  background: #f0f0f0;
  border-top: solid 1px #e3e3e3;
  border-bottom: solid 1px #e3e3e3;
  padding: 1.5em 0;
  margin: 0;
}
/* line 44, ../sass/module/_sso.scss */
.m-single-sign-on .stripe .inputs-container {
  padding-top: 10px;
}
@media only screen and (min-width: 768px) {
  /* line 38, ../sass/module/_sso.scss */
  .m-single-sign-on .stripe {
    margin-top: 6em;
  }
}
@media only screen and (min-width: 1000px) {
  /* line 38, ../sass/module/_sso.scss */
  .m-single-sign-on .stripe {
    margin-top: 10em;
  }
}
/* line 55, ../sass/module/_sso.scss */
.m-single-sign-on .loading {
  position: absolute;
  margin-top: -4em;
  padding-left: 11px;
}
/* line 61, ../sass/module/_sso.scss */
.m-single-sign-on .stripe .content-container {
  padding-top: 50px;
  background: url(../images/epek_logo_1.png) no-repeat;
}
/* line 68, ../sass/module/_sso.scss */
.m-single-sign-on .content-container {
  width: 280px;
  margin: auto;
}
@media only screen and (min-width: 480px) {
  /* line 68, ../sass/module/_sso.scss */
  .m-single-sign-on .content-container {
    width: 440px;
  }
}
@media only screen and (min-width: 640px) {
  /* line 68, ../sass/module/_sso.scss */
  .m-single-sign-on .content-container {
    width: 510px;
    padding: 0 0 0 150px !important;
  }
  /* line 79, ../sass/module/_sso.scss */
  .stripe .m-single-sign-on .content-container {
    background-position: 0 7px;
  }
}
/* line 85, ../sass/module/_sso.scss */
.m-single-sign-on input.email, .m-single-sign-on .simple-login-form input.password {
  width: 230px;
}
@media only screen and (min-width: 480px) {
  /* line 85, ../sass/module/_sso.scss */
  .m-single-sign-on input.email, .m-single-sign-on .simple-login-form input.password {
    width: 370px;
  }
}
@media only screen and (min-width: 640px) {
  /* line 85, ../sass/module/_sso.scss */
  .m-single-sign-on input.email, .m-single-sign-on .simple-login-form input.password {
    width: 300px;
  }
}
/* line 97, ../sass/module/_sso.scss */
.m-single-sign-on .discovered input.email, .m-single-sign-on .discovered .simple-login-form input.password {
  width: 100% !important;
}
/* line 109, ../sass/module/_sso.scss */
.m-single-sign-on .discovered .arrow-button {
  display: none;
}
/* line 113, ../sass/module/_sso.scss */
.m-single-sign-on .discover-button, .m-single-sign-on .login-arrow-button {
  float: left;
}
/* line 117, ../sass/module/_sso.scss */
.m-single-sign-on .email, .m-single-sign-on .password {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: left;
}
/* line 122, ../sass/module/_sso.scss */
.m-single-sign-on .register-footer {
  margin-top: 1em;
}
@media only screen and (min-width: 480px) {
  /* line 122, ../sass/module/_sso.scss */
  .m-single-sign-on .register-footer {
    margin-top: 2em;
  }
}
/* line 129, ../sass/module/_sso.scss */
.m-single-sign-on .footer-text {
  font-size: 66%;
  line-height: 1.2em;
  color: #aaa;
  float: left;
  width: 59%;
  padding-left: 1px;
}
/* line 138, ../sass/module/_sso.scss */
.m-single-sign-on .footer-logo {
  width: 18%;
  float: left;
  padding-left: 2%;
}
/* line 142, ../sass/module/_sso.scss */
.m-single-sign-on .footer-logo img {
  width: 100%;
  height: auto;
}
/* line 148, ../sass/module/_sso.scss */
.m-single-sign-on .error {
  color: #f88;
  font-size: 75%;
  padding-left: 11px;
  display: block;
  clear: both;
  padding-top: .3em;
  line-height: 1em;
}
/* line 158, ../sass/module/_sso.scss */
.m-single-sign-on .already-have-account, .m-single-sign-on .forgot-password {
  font-size: 75%;
  padding-left: 11px;
  display: block;
  clear: both;
  padding-top: .2em;
  line-height: 1em;
}
/* line 167, ../sass/module/_sso.scss */
.m-single-sign-on .recaptcha {
  background: #fff;
  border: 1px solid #d3d3d3;
  padding: 16px;
  width: 100%;
}
/* line 172, ../sass/module/_sso.scss */
.m-single-sign-on .recaptcha #recaptcha_image, .m-single-sign-on .recaptcha img, .m-single-sign-on .recaptcha input {
  width: 100% !important;
}
/* line 175, ../sass/module/_sso.scss */
.m-single-sign-on .recaptcha a {
  font-size: 75%;
  line-height: 75%;
}

/* State */
/* line 1, ../sass/_state.scss */
.is-hidden {
  display: none;
}

/* line 4, ../sass/_state.scss */
.is-disabled, .btn-primary[disabled="disabled"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 7, ../sass/_state.scss */
.is-unselected {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 1, ../sass/_debug.scss */
.debug {
  word-wrap: break-word;
  width: 90%;
  overflow: hidden;
  bottom: 0;
  left: 0;
  clear: both;
  padding: 1em;
  background: #ffdddd;
  border: solid 1px #ffaaaa;
  margin: 2em;
}
