<form name="form" novalidate data-ng-submit="changePassword()" data-ng-hide="passwordChanged" style="width: 400px; margin: 0 auto">
    <input name="email" id="email" required="required" data-ng-model="changeParams.email" placeholder="Your email" type="email" autofocus="autofocus">
    <div data-ng-show="form.email.$dirty && form.email.$invalid">
        <span class="error" data-ng-show="form.email.$error.required">Required!</span>
        <span class="error" data-ng-show="form.email.$error.email">This is not a valid email.</span>
    </div>

    <input name="oldPassword" id="oldPassword" required="required" data-ng-model="changeParams.oldPassword" placeholder="Type your current password" type="password">
    <div data-ng-show="form.oldPassword.$dirty && form.oldPassword.$error">
        <span class="error" data-ng-show="form.oldPassword.$error.required">Type your current password.</span>
    </div>

    <input name="newPassword" id="newPassword" required="required" data-ng-model="changeParams.newPassword" placeholder="Type new password" type="password">
    <div data-ng-show="form.newPassword.$dirty && form.newPassword.$error">
        <span class="error" data-ng-show="form.newPassword.$error.required">Password is required!</span>
    </div>

    <input name="newPasswordConfirm" id="newPasswordConfirm"
           type="password" required="required"
           data-ng-model="changeParams.newPasswordConfirm"
           placeholder="Confirm new password"
           data-validate-equals="changeParams.newPassword">
    <div data-ng-show="form.newPasswordConfirm.$dirty && form.newPasswordConfirm.$error">
        <span class="error" data-ng-show="form.newPasswordConfirm.$error.equal">New password fields must match.</span>
    </div>

    <div id="captcha" data-recaptcha=""></div>

    <button type="submit" data-ng-disabled="form.$invalid">Change</button>

    <span class="{{changeStatus.status}}">{{changeStatus.message}}</span>

</form>

<div data-ng-show="passwordChanged">
    Your password was successfully changed!
</div>