<div class="m-single-sign-on">
    <form style="width: 300px; margin: 0 auto" name="forgotPasswordForm" data-ng-hide="forgotStatus.forgotFormSent">
        <input type="email" name="email" placeholder="E-Mail" data-ng-model="email">
        <div id="recaptcha" data-recaptcha=""></div>

        <div data-ng-show="forgotStatus.status.length" class="{{forgotStatus.status}}">{{forgotStatus.message}}</div>

        <button class="btn btn-primary" data-ng-click="forgotPassword(email)">Continue</button>
    </form>
    <div data-ng-show="forgotStatus.forgotFormSent">
        Message with further instructions on password renewal was sent to your email.<br>
        Please check your email to continue.
    </div>
</div>