<form name="form" data-ng-submit="resetPassword(reset)" data-ng-hide="passwordResetted" style="width: 400px; margin: 0 auto">
    <input name="email" id="email" required="required" data-ng-model="reset.email" placeholder="Your email" type="email" autofocus="autofocus">
    <div data-ng-show="reset.email.$invalid">
        <span class="error" data-ng-show="reset.email.$error.required">Required!</span>
        <span class="error" data-ng-show="reset.email.$error.email">This is not a valid email.</span>
    </div>

    <input name="newPassword" id="newPassword" required data-ng-model="reset.newPassword" placeholder="Type new password" type="password">
    <span class="error" data-ng-show="reset.password.$error.required">Password is required!</span>

    <div id="recaptcha" data-recaptcha=""></div>

    <button type="submit">Reset</button>

    <span class="{{resetStatus.status}}">{{resetStatus.message}}</span>
</form>
<div data-ng-show="passwordResetted">
    Your password was successfully reset!<br>
    Now you can <a href="#/sso/register">login</a> with the new password.
</div>
