<div class="m-header" data-ng-show="true">

    <ul class="m-header-nav">
        <li><a class="m-header-nav-hightlight" href="http://stack.epek.com/sell/">Sell on <span class="m-epek-e">e</span>pek</a></li>
        <li><a href="http://community.epek.com">Community</a></li>
        <li><a href="http://stack.epek.com/help/">Help</a></li>
        <li><a class="loggedout" href="http://stack.epek.com/activity/">Login</a></li>
        <li><a href="http://signin.epek.com/logout">Logout</a></li>
    </ul>
    <a href="http://www.epek.com/" class="m-header-logo"></a>
    <div class="m-header-search">
        <form action="#">
            <input class="search-field" type="search" title="Search on epek" /><button type="submit" class="btn-search btn-icon btn-primary icon-search"></button>
        </form>
    </div>

</div>
