.m-step-select {
  width: 100%;
}

.m-step-select-items {
  width: 50%;
  float: left;
  background: white;

  li {
    position: relative;
    border-right: 1px solid $color-boundry;

    &.activeCategory {
      border-color: $color-tree-select-active-background;

      a {
        background: $color-tree-select-active-background;
        color: $color-tree-select-active-font;
        font-weight: bold;

        .m-step-select-connector {
          background-color: $color-tree-select-active-background;
          display: block;
          position: absolute;
          right: -1px;
          width: 10px;
        }

        &:hover {
          color: white;
        }
      }
    }

    a {
      display: block;
      color: $color-paragraph;
      line-height: 60px;
      padding-left: 50px;

      &:hover {
        color: $color-tree-select-hover;
      }
    }

  }

}

.m-step-select-previous {
  width: 0px;

  @include single-transition(width, 0.8s);

  &.active {
    width: 50%;
  }
}

.m-step-select-active {

  .activeCategory:after {

      @include arrow-point(left, 25%, 16px, $color-tree-select-active-background);

  }

}
