
$button-height: $form-item-height;

%button-base{
  @include fontSize(27px);
  @include inline-block;

  font-weight: bold;
  height: $button-height;
  border-width: 1px;
  border-style: solid;
  margin: 0;
  cursor: pointer;
}

.btn {
  @extend %button-base;

  min-width: 200px;
  padding: 0 20px;
}

div.btn {
  line-height: $button-height;
  text-align: center;
}

.btn-icon{
  @extend %button-base;

  text-align: center;
  width: $button-height;
}

.btn-primary {
  background: $color-primary;
  border-color: $color-primary;
  color: white;
  &[disabled="disabled"] {
    @extend .is-disabled;
    &:hover {
      background: $color-primary;
    }
  }
  &:hover {
    background: $color-primary-hover;
  }
}

.btn-secondary {
  background: $color-secondary-button-background;
  border-color: $color-secondary-button-border;
  color: $color-secondary-button-font;
  &:hover {
    background: $color-secondary-button-hover;
    color: $grey-very-light;
    .btn-subtext {
      color: white;
    }
  }
}

.btn-next {
  float: right;
}

%attribute {
  text-decoration: none;
  color: $grey-medium;
  min-height: 20px;
  margin: 10px 10px 10px 0;
  cursor: pointer;
  @include inline-block;
  @include float-left;
  &.big {
    margin-top: 20px;
    @include fontSize(22px);
  }
  &.small {
    @include fontSize(12px);
  }
}

.btn-add-attribute {
  @extend %attribute;
  &:hover {
    color: $color-primary;
  }
}
.btn-remove-attribute {
  @extend %attribute;
  &:hover {
    color: $color-error;
  }
}
.btn-remove-img {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: black;
  padding: 10px;
}

.btn-subtext {
  @include fontSize(14px);

  font-weight: normal;

  .btn-secondary & {
    color: $color-secondary-button-subtext-font;
  }
}

.btn-file-selector {
  @include inline-block();
  position: relative;
}

.btn-file-hidden {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:hover + .btn-primary  {
    background: $color-primary-hover;
  }
}

